*{
    padding: 0;
    margin: 0;
    outline: none;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 70%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section_heading h3{
    font-size: 43px;
    color: #18191F;
    margin-bottom: 40px;
}

.btn{
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #E02C6D;
    transition: all linear 0.3s;
}
.btn:hover{
    background: transparent;
    border: 1px solid #E02C6D;
    color: #000;
}
.bnr_btn:hover,
.login_btn .btn:hover {
    background: transparent;
    border: 1px solid #E02C6D;
    color: #fff;
}

.login_btn i{
    margin-right: 8px;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}


/* header css starts */

#header{
    padding-top: 42px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav_area ul{
    display: flex;
}
.nav_area ul a{
    margin-right: 36px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.toggle_btn{
    display: none;
}
/* header css ends */

/* banner css starts */
#banner{
    background-color: #2D25A0;
    padding: 153px 0 83px 0;
}
.row-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.banner_content h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    margin-right: 90px;
    margin-bottom: 27px;
    line-height: 80px;
}
.banner_img img{
    width: 556px;
}
.banner_content .btn i{
    margin-left: 8px;
}
/* banner css ends */

/* blog css starts */
#blog{
    margin-top: 70px;
}
#blog .row-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.blog_area{
    padding: 16px 16px 40px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.blog_content h3{
     font-size: 28px;
     font-weight: 700;
     line-height: 40px;
     color: #18191F;
     margin-top: 16px;
     margin-bottom: 10px;
}
.blog_content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6C6C6C;
}
.blog_area img,
.blog_img{
     overflow: hidden;
     transition: all linear 0.3s;
}
.blog_area:hover .blog_img img {
    transform: scale(1.1);
}
/* blog css ends */

/* highlight css starts */
#highlight{
    padding: 163px 0;
}

.highlight_content h4{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
    margin-right: 113px;
}
.highlight_content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #0A0826;
    margin-right: 113px;
    margin-top: 8px;
    margin-bottom: 24px;
}
/* highlight css ends */

/* latest_news css starts */

#latest_news{
    padding-bottom: 163px;
}

#latest_news .row-grid{
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}
.latest_news_area {
    padding: 16px 16px 16px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.latest_news_content h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 10px;
}

.latest_news_content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6C6C6C;
}

.latest_news_content .btn{
    margin-top: 20px;
}

.latest_news_area img,
.latest_news_img {
    overflow: hidden;
    transition: all linear 0.3s;
}

.latest_news_area:hover .latest_news_img img {
    transform: scale(1.1);
}
.slider_icon{
    margin-top: 30px;
}
.slider_icon ul{
    display: flex;
    justify-content: center;
}
.slider_icon ul li{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 7px;
    background-color: #18191F;
    transition: all linear 0.3s;
    cursor: pointer;
}
.slider_icon ul li:hover{
    transform: scale(1.1);
    background-color: #E02C6D;
}
/* latest_news css ends */

/* score css starts */
#time_table{
    padding-bottom: 163px;
}

.team_two,
.play_tine,
.team_one{
    width: 33.33%;
    text-align: center;
}

.time_area{
    padding: 60px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.team_name h5{
    font-size: 30px;
}

/* score css ends */

/* footer_area css starts */
#footer{
    padding-bottom: 63px;
}
#footer .row{
    justify-content: center;
}
.footer_area{
    text-align: center;
}
.footer_area img{
    width: 490px;
}
.social_icon ul{
    display: flex;
    justify-content: center;
}
.social_icon ul a{
   height: 34px;
   width: 34px;
   line-height: 34px;
   border-radius: 50%;
   display: inline-block;
   background: rgba(11, 13, 23, 0.10);
   margin: 0 7px;
   color: #969BAB;
   transition: all linear 0.3s;
}
.copyright p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #0A0826;
    margin-top: 20px;
    
}
.social_icon ul a:hover{
    background-color:#E02C6D;
    color: #0A0826;
}
/* footer_area css ends */


/* responsive css starts */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {


}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    ...
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* header area strats */
    nav.nav_area {
        display: none;
    }

    .toggle_btn {
        display: block;
        color: #fff;
        font-size: 40px;
    }

    /* header area ends */
    /* banner area starts */
    
    .banner_content h1 {
        font-size: 54px;
        margin-right: 0px;
        line-height: 62px;
    }
    /* banner area ends */

    /* blog area starts */
    #blog .row-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    /* blog area ends */

    /* highlight area starts */
    #highlight .row-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .highlight_content{
        margin-bottom: 50px;
    }
    .highlight_content p,
    .highlight_content h4 {
        margin-right: 0;
    }
    /* highlight area ends */

    /* latest_news area ends */
    #latest_news .row-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    /* latest_news area ends */

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    /* header area strats */
    nav.nav_area {
        display: none;
    }

    .toggle_btn {
        display: block;
        color: #fff;
        font-size: 40px;
    }

    /* header area ends */

    /* banner area starts */
    #banner .row-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .banner_content {
        margin-bottom: 50px;
    }

    /* banner area ends */

    /* blog area starts */
    #blog .row-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    /* blog area ends */

    /* highlight area starts */
    #highlight .row-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .highlight_content {
        margin-bottom: 50px;
    }

    .highlight_content h4 {
        margin-right: 0px;
    }

    .highlight_content p {
        margin-right: 0;
    }

    /* highlight area ends */

    /* latest_news area starts */
    #latest_news .row-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        align-items: center;
    }

    .highlight_content {
        margin-bottom: 50px;
    }

    .highlight_content h4 {
        margin-right: 0px;
    }

    .highlight_content p {
        margin-right: 0;
    }

    /* highlight area ends */

    /* time_table area starts */
    #time_table .row {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .team_two,
    .play_tine,
    .team_one {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    /* time_table area ends */
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
.banner_content h1 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-right: 0px;
    margin-bottom: 27px;
    line-height: 50px;
}
}